.bm-search:before {
  content: "\e904";
}
.bm-hospital:before {
  content: "\e900";
}
.bm-list:before {
  content: "\e901";
}
.bm-protection:before {
  content: "\e902";
}
.bm-times:before {
  content: "\e903";
}
