$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$bm-Search: unquote('"\\e904"');
$bm-hospital: unquote('"\\e900"');
$bm-list: unquote('"\\e901"');
$bm-protection: unquote('"\\e902"');
$bm-times: unquote('"\\e903"');

